### Folder locations to exclude ###

# Uneccesary IDE files

.vs/
.git/
.vscode/

# Compiled Object folders

obj/
bin/

x64/

### Ignore Version JSON file ###

version.json

### Ignore precompiled binaries ###

*.exe
*.dll
*.lib
*.pdb
*.obj
